site_name: A Lazy Data Science Guide
site_url: http://mohitmayank.com/a_lazy_data_science_guide/
repo_url: https://github.com/imohitmayank/a_lazy_data_science_guide
theme:
  name: material
  logo: imgs/logo.png
  favicon: imgs/logo.png
  features:
    - navigation.tabs
    - navigation.sections # remove this to hide the navigation
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - mdx_truly_sane_lists
  - md_in_html
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  disqus: mohitmayank
  analytics:
    provider: google
    property: G-2DVXT9L5D4
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/imohitmayank
    - icon: fontawesome/brands/github
      link: https://github.com/imohitmayank
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/imohitmayank/
    - icon: fontawesome/brands/medium
      link: https://medium.com/@mohitmayank

nav:
  - 'Introduction': 
      - 'Hello': 'index.md'
      - 'Getting started': 'introduction/getting_started.md'

  - 'Natural Language Processing':
      - 'Algorithms':
          -  'Word2Vec': 'natural_language_processing/word2vec.md'
          -  'LSTM, GRU & RNN': 'natural_language_processing/lstm_gru_rnn.md'
          -  'natural_language_processing/BERT.md'
          -  'natural_language_processing/GPTs.md'
          -  'natural_language_processing/T5.md'
      -  'Tasks':
          -  'natural_language_processing/text_generation.md'
          -  'natural_language_processing/relation_extraction.md'
          -  'natural_language_processing/text_similarity.md'
          -  'natural_language_processing/named_entity_recognition.md'
      - 'Blogs':
          - 'natural_language_processing/explainable_ai_llm.md'

  - 'Network Science':
      - 'Introduction': 'network_science/introduction.md'
      - "Graph Neural Networks":
          - 'Introduction': 'network_science/gnn_introduction.md'
          - 'Algorithms':
              - 'DeepWalk': 'network_science/gnn_deepwalk.md'
      - 'Knowledge Graphs':
          - 'Introduction': 'network_science/kg_introduction.md'
          - 'KG Embedding Algorithms': 'network_science/kg_embedding_algorithms.md'

  - 'Python':
    -  'python/good_practices.md'
    -  'python/python_snippets.md'
    - 'Blogs':
        -  'python/scraping_websites.md'

  - 'Data Science Tools':
    -  'data_science_tools/introduction.md'
    -  'data_science_tools/version_control.md'
    -  'data_science_tools/compute_and_ai_services.md'

  - 'Machine Learning':
    - 'machine_learning/introduction.md'
    - 'machine_learning/ML_snippets.md'
    - 'Blogs':
      - 'Ranking Algorithms': 'machine_learning/ranking_algorithms.md'

  - 'Deep Learning':
    - 'deep_learning/deep_learning_snippets.md'
    - 'deep_learning/deep_learning_terms.md'

  - 'Audio Intelligence':
    - 'Tasks':
       - 'Voice Activity Detection': 'audio_intelligence/voice_activity_detection.md'
       - 'Speaker Diarization': 'audio_intelligence/speaker_diarization.md'

